<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.dao.MessageMapper">


    <!--//根据类别号获得该类别下的所有问题-->
    <!--public List<Message> getMessageByCatory(int catoryId);-->

    <!--//根据问题号获得答案-->

    <!--public String getAnswerById(int messaged);-->

    <select id="getMessageByCatory" resultType="message" parameterType="int">

        SELECT * FROM message_detail WHERE mcatory_id#{_parameter}

    </select>

    <select id="getAnswerById" resultType="String" parameterType="ingt">
    SELECT cotent FROM message_detail WHERE id#{_parameter}
    </select>
</mapper>